<div *ngIf="quizService.questions">
  <div class="question-container">
    <div class="question">
      <!-- {{ quizService.questions[quizService.currentQuestion].id}} -->
      {{ quizService.questions[quizService.currentQuestion].text}}
    </div>
    <div class="timer">{{ quizService.time }} </div>
  </div>
  <br>
  <div class="answers">
    <div class="answer-container" *ngFor="let answer of quizService.questions[quizService.currentQuestion].answers"
      (click)="answerQuestion(answer.id)">
      <a class="answer"> {{ answer.text }} </a>
    </div>
  </div>
  <div>
      <button class="skip-button" (click)="skipQuestion(quizService.questions[quizService.currentQuestion])">Pomiń pytanie</button>
  </div>
</div>
<!-- <div *ngFor="let question of questions">
  {{ question.id }}
</div> -->