<ng-container *ngFor="let question of quizService.questions; let i=index">
  <div class="container">
    <div class="question">
      <span>{{i+1}}.{{question.text}}</span>
      <!-- id odp ok: {{ question.correctAnswerId}} -->
    </div>

    <div class="answers">
      <ng-container *ngFor="let answer of question.answers; let j = index">
        <div *ngIf="answer != null" class="answer"
          [ngClass]="{'correct-answer': answer.id == question.correctAnswerId,
                                        'wrong-answer': answer.id == question.userAnswerId && question.userAnswerId != question.correctAnswerId}">
          {{answer.text}}
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>