<div class='container'>

  <div>Witam serdecznie, tu będzie jakiś napis wyjaśniający co jest w tej jakże pięknej aplikacji</div>
  <div>Opcyjki:</div>
  <br>
  <mat-button-toggle-group #group="matButtonToggleGroup" name="fontStyle" aria-label="Font Style"
    [(ngModel)]="selectedMode">
    <ng-container *ngFor='let mode of quizMode'>
      {{mode.id}}
      <mat-button-toggle class='option' value="{{mode.id}}" id="{{mode.id}}" (click)='test($event)'>{{mode.name}}
      </mat-button-toggle>
    </ng-container>
  </mat-button-toggle-group>
  <!-- <div>
    <ng-container *ngFor='let mode of quizMode | keyvalue'>
      <button class='option' id='{{ mode.key }}' (click)='test($event)'>{{mode.value}}</button>

    </ng-container>
  </div> -->
  <br>
  <ng-container *ngIf="quizModeChecked">
    <p>Wybierz gatunek</p>
    <!-- <ng-container *ngFor='let category of categories'>
      <button class='category'> {{category}}</button>  
     </ng-container> -->

    <mat-button-toggle-group #group="matButtonToggleGroup" name="fontStyle" aria-label="Font Style" multiple="true"
      [(ngModel)]="selectedCategories">
      <ng-container *ngFor='let category of categories'>
        <mat-button-toggle class="category" value="{{category.id}}">{{category.name}}</mat-button-toggle>
        <!-- <mat-button-toggle value="italic">Italic</mat-button-toggle>
      <mat-button-toggle value="underline">Underline</mat-button-toggle> -->
      </ng-container>
    </mat-button-toggle-group>
    Wybrane: {{group.value}}


    <br>
    <ng-container *ngIf="selectedCategories">
      <button class='start-button' (click)="startQuiz()">Start</button>
    </ng-container>
  </ng-container>

</div>